In [7]:
name=input("Enter Your Name :")

a=int(input("Enter Your Roll Number :"))
b=5.6
print(name)
print(a)
print(type(name))

Enter Your Name :tahir
Enter Your Roll Number :4543
tahir
4543
<class 'str'>

# Python Data structure
- List
- Dictionary
- Sets
- Tuple

# List
- []
- indices
- mutable
##  functions performed in list
 - append
 - insert
 - pop
 - sort
 - remove
 - clear
 - extend

In [ ]:
fruits=['Apple','Banana','Grapes','Oranges','Cherry']

print(fruits)

print(fruits[2])

print(len(fruits))

print(ord('G'))
print(chr(71))

In [2]:

fruits.append('Mango')
print(fruits)

['Apple', 'Banana', 'Grapes', 'Oranges', 'Cherry', 'Mango']

In [3]:
fruits.insert(21,'Pine Apple')
print(fruits)

['Apple', 'Banana', 'Grapes', 'Oranges', 'Cherry', 'Mango', 'Pine Apple']

In [4]:
fruits.pop(-1)
print(fruits)

['Apple', 'Banana', 'Grapes', 'Oranges', 'Cherry', 'Mango']

In [5]:
fruits[-1] ='Peach' 
print(fruits)

['Apple', 'Banana', 'Grapes', 'Oranges', 'Cherry', 'Peach']

In [6]:
fruits

['Apple', 'Banana', 'Grapes', 'Oranges', 'Cherry', 'Peach']

In [7]:
popped_item=fruits.pop(-2)
popped_item

'Cherry'

In [8]:
students=['ali','ahmed','raza','asad','farooq']
teacher=['ahsan','umer','anila', 'junaid']

staff=[]
staff.append(teacher)
print(staff)

[['ahsan', 'umer', 'anila', 'junaid']]

In [9]:
staff.extend(teacher)
print(staff)

[['ahsan', 'umer', 'anila', 'junaid'], 'ahsan', 'umer', 'anila', 'junaid']

In [10]:
staff.count('umer')

1

# Deleting Items From List
- del
- pop()
- remove()

####  del     "deletes value by index"
####  pop    "deletes always from last and it also deletes value by index    and pop also return deleted value"

In [11]:
guest=[]
for i in range(1,6):
      guest.append(input("Enter Guest Name :"))
print(guest)

Enter Guest Name :ali
Enter Guest Name :ahmed
Enter Guest Name :waqar
Enter Guest Name :mueed
Enter Guest Name :tariq
['ali', 'ahmed', 'waqar', 'mueed', 'tariq']

In [31]:
name='imran'
for j in guest:
    if(j==name):
        print("name is in the List ")
        break
    else:
        print("Named is not present currently. we are adding your name in list")
        guest.append(name)
        print(guest)
        print("Your name is added auccessfully")
        break

NameError: name 'guest' is not defined

In [13]:

guest.sort(reverse=False)
guest

['ahmed', 'ali', 'imran', 'mueed', 'tariq', 'waqar']

In [14]:
reverse_order =guest.reverse()
print(reverse_order)

None

In [15]:
a=[1,2,3,4,5,6]
for i in a:
    print(i*i)

a.append('ali')
print(a)
a.insert(3,56)
print(a)

1
4
9
16
25
36
[1, 2, 3, 4, 5, 6, 'ali']
[1, 2, 3, 56, 4, 5, 6, 'ali']

In [17]:
'tariq' in guest

True

## slicing in list
 - slicing list
 - slicing string
 - slicing copies subset of values in a collection

In [40]:
nums=[1,2,5,3,6,7,4,9,8,10,23]
nums[2:6]   #num[start, end]

[5, 3, 6, 7]

In [25]:
nums[2:7]

[5, 3, 6, 7, 4]

In [26]:
nums[:5]

[1, 2, 5, 3, 6]

In [34]:
nums[2:11:2]

[5, 6, 4, 8, 2]

In [35]:
nums[0:11:3]

[1, 3, 4, 10]

In [36]:
nums[:]

[1, 2, 5, 3, 6, 7, 4, 9, 8, 10, 2]

In [37]:
nums[::1]

[1, 2, 5, 3, 6, 7, 4, 9, 8, 10, 2]

In [41]:
nums[::2]

[1, 5, 6, 4, 8, 23]

In [42]:
nums[::-2]

[23, 8, 4, 6, 5, 1]

In [43]:
nums[-8:5]

[3, 6]

In [48]:
text="A day without python is empty day"
Text1=text.split()
Text1

['A', 'day', 'without', 'python', 'is', 'empty', 'day']

In [56]:
reversed_text=Text1[::-1]
reversed_text

['day', 'empty', 'is', 'python', 'without', 'day', 'A']

In [57]:
' '.join(reversed_text)

'day empty is python without day A'

In [60]:
' '.join(text.split()[::-1])

'day empty is python without day A'

In [61]:
text.upper()

'A DAY WITHOUT PYTHON IS EMPTY DAY'

In [62]:
text.lower()

'a day without python is empty day'

In [69]:
text

'A day without python is empty day'

In [72]:
nums[:] is nums

False

In [73]:
id(nums)

2674376905224

In [74]:
id(nums[:])

2674405932104

In [75]:
nums[2:3]=[]

In [76]:
nums

[1, 2, 3, 6, 7, 4, 9, 8, 10, 23]

In [84]:
abr=[]

In [85]:
abr += 'apple'
abr

['a', 'p', 'p', 'l', 'e']

In [86]:
abr[-1:]=['d','w']

In [87]:
abr

['a', 'p', 'p', 'l', 'd', 'w']

In [91]:
t=('foo',)

In [92]:
t

('foo',)

In [93]:
print(type(t))

<class 'tuple'>

## Tuple

- ()
- immutable
- not deleted
- not updated

In [95]:
t= (4,5,6,7)
t

(4, 5, 6, 7)

In [96]:
type(t)

tuple

In [98]:
t[1:3]

(5, 6)

In [100]:
tt=('a','b','c','d')

In [1]:
num=[1,2,3,4,5,6,7,8,9]
num[4]=55
num

[1, 2, 3, 4, 55, 6, 7, 8, 9]

In [7]:
num[-2:0:-3]

[8, 55, 2]

In [25]:
text="A Quick Brown Fox Jumps Over The Lazy Dog"
splitted_text=text.split()

In [26]:
splitted_text

['A', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']

In [23]:
' '.join(text.split()[::-1])

'Dog Lazy The Over Jumps Fox Brown Quick A'

In [ ]:
student=['ali','ahmed','waqar','asad']